<template>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="cl-frmfl__multiselect">
      <div class="cl-frmfl__selectBody" @click="openMeniu">
        <select class="form-control">
          <option selected hidden>
            {{ checkedNames.length == 0 ? __dm_car_damage : limitedByCheckedNames.toString() | cut(15, '...') }}
          </option>
        </select>
        <i :class="chevronIcon"></i>
        <div class="cl-frmfl__overSelect"></div>
      </div>
      <div class="cl-frmfl__zciosvjm" v-show="isOpenMeniu" @mouseleave="closeMeniu">
        <div class="addScroll">
          <div class="cl-frmfl__zciosvjm__item" v-for="(item, index) in items" :key="item.id" :class="{'active': item.checked}">
            <input type="checkbox" name="search[in][has_damage][]" v-if="!item.checked" @click="checked = item, addDamage(item.id, item.damage)" :id="index" :value="item.id" v-model="item.checked">
            <input type="checkbox" name="search[in][has_damage][]" v-if="item.checked" @click="checked = item, deleteDamage(item.damage)" :id="index" :value="item.id" v-model="item.checked">
  
            <label :id="item.damage" v-text="item.damage"></label>
          </div>
          <div v-if="items.length == 0" v-text="errorMsg"></div>
        </div>
        <div class="cl-frmfl__btnwrap">
          <div class="cl-frmfl__btn" @click="closeMeniu" v-text="__dm_not_btn"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '../api/web';

export default {
  data() {
    return {
      checked: [],
      checkedNames: [],
      isOpenMeniu: false,
      errorMsg: __dm_empty_data,
      items: []
    }
  },
  mounted() {
    this.getCarDamages();
  },
  computed: {
    chevronIcon() {
      if (!this.isOpenMeniu) {
        return 'fa fa-chevron-down';
      } else {
        return 'fa fa-chevron-up';
      }
    },
    limitedByCheckedNames() {
      let checkedNames = this.checkedNames.slice(0, 3);

      if (checkedNames) {
        return checkedNames.map(function (checkedNamesItem) {
          return checkedNamesItem.damage;
        });
      }
    }
  },
  methods: {
    getCarDamages() {
      api.getDamages(data => {
        this.items = data;
      });
    },
    addDamage(damageid, damage) {
      let isChecked = this.items.checked;
      let damages = this.checkedNames;
      let adddamage = 1;

      damages.forEach((match, index) => {
        if (match.damage == damage) {
          adddamage = 0;
        }
      });
      if (adddamage) {
        damages.push({
          id: damageid,
          damage: damage
        });
      }
    },
    deleteDamage(damage) {
      let damages = this.checkedNames;
      let index = damages.indexOf(damage);

      if (index) {
        damages.splice(index, 1);
        this.checked = [];
      } else {
        console.log('Damage not in the array!');
      }
    },
    openMeniu() {
      this.isOpenMeniu = !this.isOpenMeniu;
      if (this.isOpenMeniu) {
        //
        let dmOverlay = $('.dm-overlay').length;
        if (dmOverlay < 1) {
          let body = $('<div />').appendTo('body');
          body.attr('class', 'dm-overlay');
        }
      }
    },
    closeMeniu() {
      this.isOpenMeniu = false;
      $('.dm-overlay').remove();
    }
  }
}
</script>
