<template>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="cl-frmfl__multiselect">
      <div class="cl-frmfl__selectBody" @click="openMeniu">
        <select class="form-control">
          <option selected hidden>
            {{ !gteLte ? __dm_car_engine : gteLte }}
          </option>
        </select>
        <i :class="chevronIcon"></i>
        <div class="cl-frmfl__overSelect"></div>
      </div>
      <div class="cl-frmfl__zciosvjm" v-show="isOpenMeniu" @mouseleave="closeMeniu">
        <div class="addScrollOptions">
          <div v-if="items.length > 0">
            <div class="lft_p">
              <div v-if="selected_gte" class="cl-frmfl__zciosvjm__item" @click="selected_gte = [], form.gte = '', selected_gte.selected = false" v-text="__dm_all_price_gte"></div>
              <div class="cl-frmfl__zciosvjm__item" v-for="(item, index) in items" :key="item.id" @click="selected_gte = item, form.gte = item.engine, selected_gte.selected = true" :class="assignActiveUnactiveGte(item)" v-text="item.engine"></div>
            </div>
          </div>
          <div v-if="items.length > 0">
            <div class="rgt_p">
              <div v-if="selected_lte" class="cl-frmfl__zciosvjm__item" @click="selected_lte = [], form.lte = '', selected_lte.selected = false" v-text="__dm_all_price_lte"></div>
              <div class="cl-frmfl__zciosvjm__item" v-for="(item, index) in items" :key="item.id" @click="selected_lte = item, form.lte = item.engine, selected_lte.selected = true" :class="assignActiveUnactiveLte(item)" v-text="item.engine"></div>
            </div>
          </div>
          <div v-if="items.length == 0" v-text="errorMsg"></div>
        </div>
        <div class="cl-frmfl__btnwrap">
          <div class="cl-frmfl__btn" @click="closeMeniu" v-text="__dm_not_btn"></div>
        </div>
      </div>
    </div>
    <input type="hidden" name="search[gte][engine_capacity]" :value="form.gte">
    <input type="hidden" name="search[lte][engine_capacity]" :value="form.lte">
  </div>
</template>

<style>
div.cl-frmfl__empty {
  font-size: 1em;
  color: #747272;
}

div.cl-frmfl__selectBody {
  position: relative;
  z-index: 11;
}

div.cl-frmfl__selectBody select {
  width: 100%;
}

div.cl-frmfl__overSelect select {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.cl-frmfl__search {
  margin: 5px 10px;
}

div.cl-frmfl__search input:focus {
  outline: none;
  border: 1px solid #8196d4;
}

div.cl-frmfl__zciosvjm {
  position: absolute;
  background-color: #fff;
  border: 1px #388ed4 solid;
  width: 291px;
  margin: 4px 0;
  z-index: 13;
}

div.cl-frmfl__zciosvjm__item {
  display: block;
  font-size: 15px;
  line-height: 16px;
  border-bottom: 1px solid #C0C0C0;
  padding: 10px;
  color: #747272;
  cursor: pointer;
}

div.cl-frmfl__zciosvjm__item:hover {
  background-color: #eceaea;
}

.active {
  background-color: #ebecec;
  border-bottom: 1px #8196d4 solid;
  color: #0a7ab2!important;
}

.unactive {
  color: #d6d6d6!important;
  cursor: auto!important;
}

div.cl-frmfl__zciosvjm label {
  display: inline-block;
  font-weight: normal !important;
  color: #747272;
  margin-left: 10px;
}

div.cl-frmfl__btnwrap {
  border-top: 1px solid #c8c8c8;
  margin-top: 5px;
  width: 251px;
  position: absolute;
  left: 10px;
  top: 100%;
  margin-top: -43px;
  margin-bottom: 5px;
}

div.cl-frmfl__btn {
  cursor: pointer;
  font-size: 15px;
  line-height: 37px;
  float: right;
  width: 100%;
  text-align: center;
  color: #FFF;
  background-color: #04cf97;
}

.addScrollOptions {
  max-height: 250px;
  overflow-y: scroll;
  padding: 10px;
  margin-bottom: 71px;
  text-align: center;
}

.lft_p {
  float: left;
  width: 48%;
  width: calc(50% - 2px);
  border-right: 1px solid #c0c0c0;
}

.rgt_p {
  float: left;
  width: 50%;
}
</style>

<script>
import api from '../api/web';

export default {
  data() {
    return {
      isOpenMeniu: false,
      errorMsg: __dm_empty_data,
      items: [],
      selected_gte: [],
      selected_lte: [],
      form: {
        gte: '',
        lte: ''
      }
    }
  },
  mounted() {
    this.getCarEngines();
  },
  computed: {
    chevronIcon() {
      if (!this.isOpenMeniu) {
        return 'fa fa-chevron-down';
      } else {
        return 'fa fa-chevron-up';
      }
    },
    gteLte() {

      let _val_gte = this.form.gte;
      if (_val_gte > 0 || this.selected_gte.engine < 1) {
        this.selected_gte.selected = true;
      }

      let _val_lte = this.form.lte;
      let prefix = (_val_lte > 0) ? '-' : '';

      if (_val_lte > 0 || this.selected_lte.engine < 1) {
        this.selected_lte.selected = true;
      }

      if (_val_gte > 0 || _val_lte === -1) {
        return _val_gte + prefix + _val_lte;
      }
      if (_val_lte > 0 || _val_gte === -1) {
        return _val_lte;
      }
    },
    assignActiveUnactiveGte() {
      return function (item) {
        let gte = this.selected_gte;

        if (gte.selected === true) {
          if (item.id === gte.id) {
            return 'active';
          }
          if (item.id !== gte.id) {
            return 'unactive';
          }
        }
      }
    },
    assignActiveUnactiveLte() {
      return function (item) {
        let lte = this.selected_lte;

        if (lte.selected === true) {
          if (item.id === lte.id) {
            return 'active';
          }
          if (item.id !== lte.id) {
            return 'unactive';
          }
        }
      }
    }
  },
  methods: {
    getCarEngines() {
      api.getEngines(data => {
        this.items = data;
      });
    },
    openMeniu() {
      this.isOpenMeniu = !this.isOpenMeniu;
      if (this.isOpenMeniu) {
        //
        let dmOverlay = $('.dm-overlay').length;
        if (dmOverlay < 1) {
          let body = $('<div />').appendTo('body');
          body.attr('class', 'dm-overlay');
        }
      }
    },
    closeMeniu() {
      this.isOpenMeniu = false;
      $('.dm-overlay').remove();
    }
  }
}
</script>
