<template>
  <div>
    <dm-car-make-model-select></dm-car-make-model-select>
    <div class="form-group row">
      <dm-car-gearbox-select></dm-car-gearbox-select>
      <dm-car-rida-select></dm-car-rida-select>
      <dm-car-body-select></dm-car-body-select>
      <dm-car-wheel-select></dm-car-wheel-select>
    </div>
    <div class="form-group row">
      <dm-car-year-select></dm-car-year-select>
      <dm-car-engine-select></dm-car-engine-select>
      <dm-car-color-select></dm-car-color-select>
      <dm-car-damage-select></dm-car-damage-select>
    </div>
  </div>
</template>

<style>
span.cl-frmfl__count_1 {
  position: absolute;
  right: 10px;
  top: 7px;
  background-color: #b7acac;
  border-radius: 5px;
  color: #fff;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 15px;
  padding: .1em .6em;
  z-index: 12;
}

span.cl-frmfl__count_2 {
  position: absolute;
  right: 10px;
  top: 7px;
  background-color: #8196d4;
  border-radius: 5px;
  color: #fff;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 15px;
  padding: .1em .6em;
  z-index: 12;
}

span.cl-frmfl__count_3 {
  position: absolute;
  right: 10px;
  top: 7px;
  background-color: #b7acac;
  border-radius: 5px;
  color: #fff;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 15px;
  padding: .1em .6em;
  z-index: 12;
}

span.cl-frmfl__countOfChecked {
  color: green;
}

span.cl-frmfl__model {
  background-color: #8196d4;
  border-radius: 5px;
  color: #fff;
  font-size: 0.875em;
  font-weight: 600;
  padding: .1em .6em;
}

span.cl-frmfl__loading {
  position: absolute;
  right: 10px;
  top: 7px;
  background-color: #b7acac;
  border-radius: 5px;
  color: #fff;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 15px;
  padding: .1em .6em;
  z-index: 12;
}

div.cl-frmfl__empty {
  font-size: 1em;
  color: #747272;
}

div.cl-frmfl__selectBody {
  position: relative;
  z-index: 11;
}

div.cl-frmfl__selectBody select {
  width: 100%;
}

div.cl-frmfl__overSelect select {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.cl-frmfl__search {
  margin: 5px 10px;
}

div.cl-frmfl__search input {
  width: 100%;
  padding: 6px 12px;
  background-image: url("../images/search.svg"), linear-gradient(to left, #777 0%, #fff 1px, #fff 100%);
  background-size: 18px, 50%;
  background-position: center right;
  background-position: center right 10px, center right 38px;
  background-repeat: no-repeat;
  border: 1px solid #8196d4;
  padding-right: 42px;
}

div.cl-frmfl__search input:focus {
  outline: none;
  border: 1px solid #8196d4;
}

div.cl-frmfl__zciosvjm {
  position: absolute;
  background-color: #fff;
  border: 1px #388ed4 solid;
  width: 291px;
  height: auto;
  margin: 4px 0;
  z-index: 13;
}

div.cl-frmfl__zciosvjm__action {
  border-bottom: 1px solid #c5c5c5;
}

div.cl-frmfl__zciosvjm__action span {
  font-size: 15px;
  font-weight: 600;
  color: #388ed4;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
}

div.cl-frmfl__zciosvjm__ofNum span {
  font-size: 15px;
  color: #a5a4a4;
  padding: 10px;
}

div.cl-frmfl__zciosvjm__item {
  border-bottom: 1px #c5c5c5 solid;
  padding: 10px;
}

div.cl-frmfl__zciosvjm__item:hover {
  background-color: #eceaea;
}

.active {
  background-color: #ebecec;
  border-bottom: 1px #8196d4 solid;
}

div.cl-frmfl__zciosvjm label {
  display: inline-block;
  font-weight: normal !important;
  color: #747272;
  margin-left: 10px;
}

div.cl-frmfl__btnwrap {
  border-top: 1px solid #c8c8c8;
  margin-top: 5px;
  width: 251px;
  position: absolute;
  left: 10px;
  top: 100%;
  margin-top: -43px;
  margin-bottom: 5px;
}

div.cl-frmfl__btn {
  cursor: pointer;
  font-size: 15px;
  line-height: 37px;
  float: right;
  width: 100%;
  text-align: center;
  color: #FFF;
  background-color: #04cf97;
}

.addScroll {
  max-height: 250px;
  overflow-y: scroll;
  padding: 10px;
  margin-bottom: 71px;
  text-align: left;
}
</style>

<script>
import DmCarMakeModelSelect from './dm_car_make_model_select.vue';
import DmCarGearboxSelect from './dm_car_gearbox_select.vue';
import DmCarRidaSelect from './dm_car_rida_select.vue';
import DmCarBodySelect from './dm_car_body_select.vue';
import DmCarWheelSelect from './dm_car_wheel_select.vue';
import DmCarYearSelect from './dm_car_year_select.vue';
import DmCarEngineSelect from './dm_car_engine_select.vue';
import DmCarColorSelect from './dm_car_color_select.vue';
import DmCarDamageSelect from './dm_car_damage_select.vue';

export default {
  components: {
    DmCarMakeModelSelect,
    DmCarGearboxSelect,
    DmCarRidaSelect,
    DmCarBodySelect,
    DmCarWheelSelect,
    DmCarYearSelect,
    DmCarEngineSelect,
    DmCarColorSelect,
    DmCarDamageSelect
  }
}
</script>
