<template>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="cl-frmfl__multiselect">
      <div class="cl-frmfl__selectBody" @click="openMeniu">
        <select class="form-control">
          <option selected hidden>
            {{ checkedNames.length == 0 ? __dm_car_fuel : limitedByCheckedNames.toString() | cut(15, '...') }}
          </option>
        </select>
        <i :class="chevronIcon"></i>
        <div class="cl-frmfl__overSelect"></div>
      </div>
      <div class="cl-frmfl__zciosvjm" v-show="isOpenMeniu" @mouseleave="closeMeniu">
        <div class="addScroll">
          <div v-if="items.length > 0">
            <div class="cl-frmfl__zciosvjm__item" v-for="(item, index) in items" :key="item.id" :class="{'active': item.checked}">
              <input type="checkbox" name="search[in][fuel_type][]" v-if="!item.checked" @click="checked = item, addFuel(item.id, item.fuel)" :id="index" :value="item.id" v-model="item.checked">
              <input type="checkbox" name="search[in][fuel_type][]" v-if="item.checked" @click="checked = item, deleteFuel(item.fuel)" :id="index" :value="item.id" v-model="item.checked">
  
              <label :id="item.fuel" v-text="item.fuel"></label>
            </div>
          </div>
          <div v-if="items.length == 0" v-text="errorMsg"></div>
        </div>
        <div class="cl-frmfl__btnwrap">
          <div class="cl-frmfl__btn" @click="closeMeniu" v-text="__dm_not_btn"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
import $ from 'jquery';

Vue.use(VueAxios, axios);
import api from '../api/web';

export default {
  data() {
    return {
      checked: [],
      checkedNames: [],
      isOpenMeniu: false,
      errorMsg: __dm_empty_data,
      items: []
    }
  },
  mounted() {
    this.getCarFuels();
  },
  computed: {
    chevronIcon() {
      if (!this.isOpenMeniu) {
        return 'fa fa-chevron-down';
      } else {
        return 'fa fa-chevron-up';
      }
    },
    chevronModelIcon() {
      if (!this.isOpenMeniuModel) {
        return 'fa fa-chevron-down';
      } else {
        return 'fa fa-chevron-up';
      }
    },
    limitedByCheckedNames() {
      let checkedNames = this.checkedNames.slice(0, 3);

      if (checkedNames) {
        return checkedNames.map(function (checkedNamesItem) {
          return checkedNamesItem.fuel;
        });
      }
    }
  },
  methods: {
    getCarFuels() {
      api.getFuels(data => {
        this.items = data;
      });
    },
    addFuel(fuelid, fuel) {
      let isChecked = this.items.checked;
      let fuels = this.checkedNames;
      let addfuel = 1;

      fuels.forEach((match, index) => {
        if (match.fuel == fuel) {
          addfuel = 0;
        }
      });
      if (addfuel) {
        fuels.push({
          id: fuelid,
          fuel: fuel
        });
      }
    },
    deleteFuel(fuel) {
      let fuels = this.checkedNames;
      let index = fuels.indexOf(fuel);

      if (index) {
        fuels.splice(index, 1);
        this.checked = [];
      } else {
        console.log('Fuel type not in the array!');
      }
    },
    openMeniu() {
      this.isOpenMeniu = !this.isOpenMeniu;
      if (this.isOpenMeniu) {
        //
        let dmOverlay = $('.dm-overlay').length;
        if (dmOverlay < 1) {
          let body = $('<div />').appendTo('body');
          body.attr('class', 'dm-overlay');
        }
      }
    },
    closeMeniu() {
      this.isOpenMeniu = false;
      $('.dm-overlay').remove();
    },
    closeMeniuModel() {
      this.isOpenMeniuModel = false;
      $('.dm-overlay').remove();
    }
  }
}
</script>
