<template>
  <div>
    <div class="form-group row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="cl-frmfl__multiselect">
          <div class="cl-frmfl__selectBody" @click="openMeniu">
            <span v-if="countMakes" class="cl-frmfl__count_1" v-text="countMakes"></span>
            <select class="form-control">
              <option selected hidden>
                {{ assignedCheckedMakes.length == 0 ? __dm_car_make : limitedByCheckedMakes | cut(15, '...') }}
              </option>
            </select>
            <i v-if="!countMakes" :class="chevronIcon"></i>
            <div class="cl-frmfl__overSelect"></div>
          </div>
          <div class="cl-frmfl__zciosvjm" v-show="isOpenMeniu" @mouseleave="closeMeniu">
            <div class="cl-frmfl__zciosvjm__action clearfix">
              <span class="pull-left" @click="toggleAllMakesChecked" v-text="__dm_select_all"></span>
              <span class="pull-right" @click="toggleAllClear('makes')">
                <i class="fa fa-trash" aria-hidden="true"></i>
                {{ __dm_select_all_clear }}
              </span>
            </div>
            <div class="addScroll">
              <div v-if="carMakeItems.length > 0">
                <div class="cl-frmfl__zciosvjm__item" v-for="(item, index) in carMakeItems" :key="item.id" :class="{'active': item.checked}">
                  <input type="checkbox" name="search[in][make_id][]" v-if="!item.checked" :id="index" :value="item.id" v-model="item.checked">
                  <input type="checkbox" name="search[in][make_id][]" v-if="item.checked" @click="deleteModelByMake(item.make)" :id="index" :value="item.id" v-model="item.checked">
                  <label :id="item.id" v-text="item.make"></label>
                </div>
              </div>
              <div v-if="carMakeItems.length == 0" v-text="errorMsg"></div>
            </div>
            <div class="cl-frmfl__btnwrap">
              <div class="cl-frmfl__btn" @click="closeMeniu" v-text="__dm_not_btn"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="cl-frmfl__multiselect">
          <div class="cl-frmfl__selectBody" @click="openMeniuModel">
            <span v-if="loading" class="cl-frmfl__loading" v-text="loadingMsg"></span>
            <span v-else>
              <span v-if="countModelsTwo" class="cl-frmfl__count_3" v-text="countModelsTwo"></span>
              <span v-if="countModelsTwo <= 0">
                <span v-if="countModels" class="cl-frmfl__count_2" v-text="foundModelsMsg"></span>
              </span>
            </span>
            <select class="form-control">
              <option selected hidden>
                {{ assignedCheckedModels.length == 0 ? __dm_car_model : limitedByCheckedModels | cut(15, '...') }}
              </option>
            </select>
            <i v-if="!countModels" :class="chevronModelIcon"></i>
            <div class="cl-frmfl__overSelect"></div>
          </div>
          <div class="cl-frmfl__zciosvjm" v-show="isOpenMeniuModel" @mouseleave="closeMeniuModel">
            <div class="cl-frmfl__zciosvjm__action clearfix">
              <span class="pull-right" @click="toggleAllClear('models')">
                <i class="fa fa-trash" aria-hidden="true"></i>
                {{ __dm_select_all_clear }}
              </span>
            </div>
            <div class="cl-frmfl__search">
              <input type="text" class="cl-frmfl__q" v-model="q" value="" placeholder="Įveskite pvz.: Audi">
            </div>
            <div class="addScroll">
              <div v-if="carMakeItems.length > 0">
                <div class="cl-frmfl__zciosvjm__item" v-for="(item, index) in filterSearchByModel" :key="item.id" :class="{'active': item.checked}">
                  <input type="checkbox" name="search[in][model_id][]" :id="index" :value="item.id" v-model="item.checked">

                  <label :id="item.model" v-html="`<b>${item.make}</b>`"></label>
                  <span class="cl-frmfl__model" v-text="item.model"></span>
                </div>
              </div>
              <div v-if="carModelItems.length == 0" class="cl-frmfl__empty" v-text="errorMsg"></div>
            </div>
            <div class="cl-frmfl__btnwrap">
              <div class="cl-frmfl__btn" @click="closeMeniuModel" v-text="__dm_not_btn"></div>
            </div>
          </div>
        </div>
      </div>
      <dm-car-power-select></dm-car-power-select>
      <dm-car-fuel-select></dm-car-fuel-select>
    </div>
  </div>
</template>

<script>
import DmCarPowerSelect from './dm_car_power_select.vue';
import DmCarFuelSelect from './dm_car_fuel_select.vue';
import api from '../api/web';

export default {
  data() {
    return {
      isOpenMeniu: false,
      isOpenMeniuModel: false,
      errorMsg: __dm_empty_data,
      carMakeItems: [],
      carModelItems: [],
      selectedMakeId: '',
      selectedModelId: '',
      loading: false,
      loadingMsg: __dm_loading,
      q: ''
    }
  },
  mounted() {
    this.getCarMakes();
    this.getCarModels();
  },
  computed: {
    countMakes() {
      return this.assignedCheckedMakes.length > 0 ?
        this.assignedCheckedMakes.length : 0;
    },
    countModels() {
      return this.carModelItems.length > 0 ?
        this.carModelItems.length : 0;
    },
    countModelsTwo() {
      return this.assignedCheckedModels.length > 0 ?
        this.assignedCheckedModels.length : 0;
    },
    assignedCheckedMakes() {
      return this.carMakeItems.filter(make => make.checked);
    },
    assignedCheckedModels() {
      return this.carModelItems.filter(model => model.checked);
    },
    checkedNamesByIds() {
      let checkedNames = this.assignedCheckedMakes;

      if (checkedNames) {
        return checkedNames.map(function (makesItem) {
          if (typeof makesItem !== 'undefined') {
            return makesItem.id;
          }
        });
      }
    },
    limitedByCheckedMakes() {
      let checkedNames = this.assignedCheckedMakes.slice(0, 3);

      if (checkedNames.length > 0) {
        return checkedNames.map(function (makesItem) {
          if (typeof makesItem !== 'undefined') {
            return makesItem.make;
          }
        }).join(', ').toString();
      }
    },
    notLimitedByCheckedMakesIds() {
      let checkedNames = this.assignedCheckedMakes;

      if (checkedNames.length > 0) {
        return checkedNames.map(function (makesItem) {
          if (typeof makesItem !== 'undefined') {
            return makesItem.id;
          }
        });
      }
    },
    limitedByCheckedModels() {
      let checkedModelNames = this.assignedCheckedModels.slice(0, 3);

      if (checkedModelNames.length > 0) {
        return checkedModelNames.map(function (modelItem) {
          if (typeof modelItem !== 'undefined') {
            return modelItem.model;
          }
        }).join(', ').toString();
      }
    },
    chevronIcon() {
      if (!this.isOpenMeniu) {
        return 'fa fa-chevron-down';
      } else {
        return 'fa fa-chevron-up';
      }
    },
    chevronModelIcon() {
      if (!this.isOpenMeniuModel) {
        return 'fa fa-chevron-down';
      } else {
        return 'fa fa-chevron-up';
      }
    },
    filterSearchByModel: function () {
      let models = this.carModelItems;
      let searchFromInput = this.q;

      if (!searchFromInput) {
        return models;
      }
      searchFromInput = searchFromInput.trim().toLowerCase();
      models = models.filter(function (searchItem) {
        return searchItem.make.toLowerCase().indexOf(searchFromInput) != -1 || searchItem.model.toLowerCase().indexOf(searchFromInput) != -1;
      });

      return models;
    },
    foundModelsMsg() {
      let msg = this.countModels;
      return __dm_filter_q_found + msg;
    },
  },
  watch: {
    notLimitedByCheckedMakesIds: function (valueIds) {
      if (!valueIds) {
        return;
      }
      if (valueIds.length > 0) {
        this.getCarModels(valueIds);
      }
    },
    immediate: true,
    deep: true
  },
  methods: {
    getCarMakes() {
      api.getMakes(data => {
        this.carMakeItems = data;
      });
    },
    getCarModels(makeId) {
      this.loading = true;

      api.getModels(data => {
        this.carModelItems = data;
        this.loading = false;
      }, makeId);
    },
    toggleAllMakesChecked() {
      this.carMakeItems.filter(make => make.checked = !this.assignedCheckedMakes.checked);
    },
    toggleAllClear(type) {
      if (type == config.TYPE_MAKE) {
        this.carMakeItems.filter(make => make.checked = false);
        this.carModelItems = [];
      }
      if (type == config.TYPE_MODEL) {
        this.carMakeItems.filter(make => make.checked = false);
        this.carModelItems.filter(model => model.checked = false);
        this.carModelItems = [];
      }
    },
    deleteModelByMake(make) {
      if (make) {
        this.carModelItems.splice(make);
      }
    },
    openMeniu() {
      this.isOpenMeniu = !this.isOpenMeniu;
      if (this.isOpenMeniu) {
        let dmOverlay = $('.dm-overlay').length;
        if (dmOverlay < 1) {
          let body = $('<div />').appendTo('body');
          body.attr('class', 'dm-overlay');
        }
      }
    },
    openMeniuModel() {
      this.isOpenMeniuModel = !this.isOpenMeniuModel;
      if (this.isOpenMeniuModel) {
        let dmOverlay = $('.dm-overlay').length;
        if (dmOverlay < 1) {
          let body = $('<div />').appendTo('body');
          body.attr('class', 'dm-overlay');
        }
      }
    },
    closeMeniu() {
      this.isOpenMeniu = false;
      $('.dm-overlay').remove();
    },
    closeMeniuModel() {
      this.isOpenMeniuModel = false;
      $('.dm-overlay').remove();
    }
  },
  components: {
    DmCarPowerSelect,
    DmCarFuelSelect
  }
}
</script>
