<template>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="cl-frmfl__multiselect">
      <div class="cl-frmfl__selectBody" @click="openMeniu">
        <select class="form-control">
          <option selected hidden>
            {{ !gteLte ? __dm_car_power : gteLte }}
          </option>
        </select>
        <i :class="chevronIcon"></i>
        <div class="cl-frmfl__overSelect"></div>
      </div>
      <div class="cl-frmfl__zciosvjm" v-show="isOpenMeniu" @mouseleave="closeMeniu">
        <div class="addScrollOptions">
          <div v-if="items.length > 0">
            <div class="lft_p">
              <input type="number" v-model="form.gte" value :placeholder="__dm_all_price_gte">
              <div class="cl-frmfl__zciosvjm__item" v-for="(item, index) in items" :key="item.id" @click="selected_gte = item, form.gte = item.power, selected_gte.selected = true" :class="assignActiveUnactiveGte(item)" v-text="item.power"></div>
            </div>
          </div>
          <div v-if="items.length > 0">
            <div class="rgt_p">
              <input type="number" v-model="form.lte" value :placeholder="__dm_all_price_lte">
              <div class="cl-frmfl__zciosvjm__item" v-for="(item, index) in items" :key="item.id" @click="selected_lte = item, form.lte = item.power, selected_lte.selected = true" :class="assignActiveUnactiveLte(item)" v-text="item.power"></div>
            </div>
          </div>
          <div v-if="items.length == 0" v-text="errorMsg"></div>
        </div>
        <div class="cl-frmfl__btnwrap">
          <div class="cl-frmfl__btn" @click="closeMeniu" v-text="__dm_not_btn"></div>
        </div>
      </div>
    </div>
    <input type="hidden" name="search[gte][power]" :value="form.gte">
    <input type="hidden" name="search[lte][power]" :value="form.lte">
  </div>
</template>

<script>
import api from '../api/web';

export default {
  data() {
    return {
      isOpenMeniu: false,
      errorMsg: __dm_empty_data,
      items: [],
      selected_gte: [],
      selected_lte: [],
      form: {
        gte: '',
        lte: ''
      }
    }
  },
  mounted() {
    this.getCarPowers();
  },
  computed: {
    chevronIcon() {
      if (!this.isOpenMeniu) {
        return 'fa fa-chevron-down';
      } else {
        return 'fa fa-chevron-up';
      }
    },
    gteLte() {

      let _val_gte = this.form.gte;
      if (_val_gte > 0 || this.selected_gte.power < 1) {
        this.selected_gte.selected = true;
      }

      let _val_lte = this.form.lte;
      let prefix = (_val_lte > 0) ? '-' : '';

      if (_val_lte > 0 || this.selected_lte.power < 1) {
        this.selected_lte.selected = true;
      }

      if (_val_gte > 0 || _val_lte === -1) {
        return _val_gte + prefix + _val_lte;
      }
      if (_val_lte > 0 || _val_gte === -1) {
        return _val_lte;
      }
    },
    assignActiveUnactiveGte() {
      return function (item) {
        let gte = this.selected_gte;

        if (gte.selected === true) {
          if (item.id === gte.id) {
            return 'active';
          }
          if (item.id !== gte.id) {
            return 'unactive';
          }
        }
      }
    },
    assignActiveUnactiveLte() {
      return function (item) {
        let lte = this.selected_lte;

        if (lte.selected === true) {
          if (item.id === lte.id) {
            return 'active';
          }
          if (item.id !== lte.id) {
            return 'unactive';
          }
        }
      }
    }
  },
  methods: {
    getCarPowers() {
      api.getPowers(data => {
        this.items = data;
      });
    },
    openMeniu() {
      this.isOpenMeniu = !this.isOpenMeniu;
      if (this.isOpenMeniu) {
        //
        let dmOverlay = $('.dm-overlay').length;
        if (dmOverlay < 1) {
          let body = $('<div />').appendTo('body');
          body.attr('class', 'dm-overlay');
        }
      }
    },
    closeMeniu() {
      this.isOpenMeniu = false;
      $('.dm-overlay').remove();
    }
  }
}
</script>
