<template>
    <div>
        <div class="favorite" @click="toggleFavorite(favorite), isFavorited = !isFavorited">
            <i :class="heartIcon"></i>
            <span class="fav-h-t" v-text="heartFavoriteText"></span>
        </div>
    </div>
</template>

<script>
import api from '../api/web';
import Notification from '../notifications/notificationMessage';
import QuantCounter from '../config/quantCounter';

export default {
    props: ['favorite', 'isfavorited'],
    data() {
        return {
            isFavorited: false
        }
    },
    mounted() {
        this.isFavorited = this.isFavorite ? true : false;
    },
    computed: {
        isFavorite() {
            return this.isfavorited;
        },
        heartIcon() {
            if (!this.isFavorited) {
                return 'fa fa-heart-o';
            } else {
                return 'fa fa-heart';
            }
        },
        heartFavoriteText() {
            if (!this.isFavorited) {
                return __dm_add_to_favorite;
            } else {
                return __dm_remove_from_favorite;
            }
        }
    },
    methods: {
        toggleFavorite() {
            if (!this.isFavorited) {
                return this.newFavorite(this.favorite);
            } else {
                return this.unFavorite(this.favorite);
            }
        },
        newFavorite(favorite) {
            api.favorite(favorite);
            QuantCounter.plus();
        },
        unFavorite(favorite) {
            api.unfavorite(favorite);
            QuantCounter.minus();
        }
    }
}
</script>
