<template>
    <span :class="isWebsiteResponsive">
        {{ totalFavorites | byFav }}
    </span>
</template>

<script>
import api from '../api/web';

export default {
    props: ['total', 'web'],
    data() {
        return {
            totalFavorites: 0,
            lists: []
        }
    },
    mounted() {
        this.getCountFavorites();

        let UserFavoriteChannel = Echo.channel('user-favorite-counter');
        console.log(UserFavoriteChannel);
        UserFavoriteChannel.listen('newFavorite', (e) => this.lists = e.data.power);
    },
    computed: {
        isWebsiteResponsive() {
            if (this.web == 'responsive') {
                return 'remember-ads pull-right';
            } else {
                return 'ads';
            }
        }
    },
    methods: {
        getCountFavorites() {
            api.getCountUserFavorites(data => {
                this.totalFavorites = data;
            });
        }
    },
    filters: {
        byFav: function (countTotal) {
            if (countTotal > 0) {
                return countTotal;
                this.isHide = true;
            } else {
                return 0;
            }
        }
    }
}
</script>
