<template>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <select name="municipality" class="form-control"
                v-model="formVariables.isMuni_id">
            <option selected="selected" value>
                {{muni}}
            </option>
            <option v-for="mun in municipalitys"
                    v-bind:value="mun.muni_id">
                {{mun.municipality_name}}
            </option>
        </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <select selected="selected" name="place" class="form-control"
                v-model="formVariables.isPlace_id">
            <option selected="selected" value>{{muni_place}}</option>
            <option v-for="munip in municipalitysPlaces"
                    v-bind:value="munip.place_id">
                {{munip.place_name}}
            </option>
        </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <select selected="selected" name="microdistrict"
                class="form-control">
            <option selected="selected" value>{{muni_microdistrict}}</option>
            <option v-for="munipd in municipalitysPlacesMicrodistrict"
                    v-bind:value="munipd.microdistrict_id">
                {{munipd.microdistrict_name}}
            </option>
        </select>
    </div>
</template>

<script>
    import Vue from 'vue';
    import axios from 'axios';

    export default {
        props: ['muni', 'muni_place', 'muni_microdistrict'],
        data() {
            return {
                mmunicipalitys: [],
                formVariables: {
                    isMuni_id: 0,
                    isPlace_id: 0,
                },
                municipalitysPlaces: [],
                municipalitysPlacesMicrodistrict: [],
                loading: false,
                loading_message: 'Loading..'
            }
        },
        created() {
            this.fetchMunicipalitys();
        },
        watch: {
            'formVariables.isMuni_id': {
                handler: function (muniId) {
                    if (!muniId) {
                        return;
                    }
                    this.fetchMunicipalityPlace(muniId);
                },
                immediate: true,
                deep: true
            },
            'formVariables.isPlace_id': {
                handler: function (placeId) {
                    if (!placeId) {
                        return;
                    }
                    this.fetchMunicipalityPlaceMicrodistricts(placeId);
                },
                immediate: true,
                deep: true
            }
        },
        methods: {
            fetchMunicipalitys() {
                var vm = this;
                vm.loading = true;
                axios.get('/api/getMunicipalitys')
                    .then(function (response) {
                        vm.loading = false;
                        Vue.set(vm.$data, 'municipalitys', response.data)
                    }).catch(function (response) {
                    // error callback
                });
            },
            fetchMunicipalityPlace(muniId) {
                var vm = this;
                vm.loading = true;
                axios.get('/api/getMunicipalitysPlaces/' + muniId)
                    .then(function (response) {
                        vm.loading = false;
                        Vue.set(vm.$data, 'municipalitysPlaces', response.data)
                    }).catch(function (response) {
                    // error callback
                });
            },
            fetchMunicipalityPlaceMicrodistricts(placeId) {
                var vm = this;
                vm.loading = true;
                axios.get('/api/getMunicipalitysPlacesMicrodistricts/' + placeId)
                    .then(function (response) {
                        vm.loading = false;
                        Vue.set(vm.$data, 'municipalitysPlacesMicrodistrict', response.data)
                    }).catch(function (response) {
                    // error callback
                });
            }
        }
    }
</script>
