<template>
  <span class="register-user_type_selected">
      <span v-if="user.user_type == 1" v-cloak>
          {{ user_selected_name }} <br/>
          {{ user_private }}</span>
      <span v-if="user.user_type == 2" v-cloak>
          {{ user_selected_name }} <br/>
          {{ user_company }}</span>
  </span>
</template>

<script>
    export default {
      props: [
          'user_selected_name',
          'user_private',
          'user_company'
        ],
      data: {
          user: {
            user_type: ''
          }
      }
    }
</script>
