.mb-80 {
  margin-bottom: 80px;
}

.responsive-width {
    font-size: 3vw;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  //background-image: url("images/background.jpg");
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-position: top center;
  background-color: #f3f3f3;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  color: #222;
}

.clearfix {
  clear: both;
}

[v-cloak] {
    display: none;
}

.dm-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
