%padding-block {
    padding: 1px 18px 8px;
}

.cl-ad__breadcrumbs {
    @extend %padding-block;
    ol {
        &.breadcrumb {
            margin: 2px -32px;
            li {
                a {
                    text-decoration: none;
                    display: inline-block;
                    font-size: 14px;
                    color: #333;
                }
                &:before {
                    content: none;
                }
                &:after {
                    content: "\f0da";
                    font-family: FontAwesome;
                    margin: 0 10px;
                    font-size: 0.9em;
                    color: #388ed4;
                    display: inline-block;
                    vertical-align: middle;
                }
                &:last-child {
                    &:after {
                        content: "";
                    }
                }
                .fa {
                    color: #388ed4;
                    margin: 0 10px;
                }
            }
        }
    }
}

.cl-breadcrumbs-dekstop-block {
    @extend %padding-block;
    ol {
        &.breadcrumb {
            margin: 2px -32px;
            li {
                a {
                    position: relative;
                    background-color: #008BC6;
                    color: #FFF;
                    height: 27px;
                    line-height: 27px;
                    display: inline-block;
                    padding: 0 8px 0 9px;
                    margin-right: 18px;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-top: -14px;
                        border: 14px solid $accent;
                        border-right-width: 0;
                        border-bottom-width: 13px;
                        border-left: 9px solid transparent;
                        left: -9px;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-top: -14px;
                        border: 14px solid transparent;
                        border-right-width: 0;
                        border-bottom-width: 13px;
                        border-left: 9px solid $accent;
                        right: -9px;
                    }
                    .fa {
                        font-size: initial;
                    }
                }
                .active {
                    position: relative;
                    background-color: #04cf97;
                    color: #FFF;
                    height: 27px;
                    line-height: 27px;
                    display: inline-block;
                    padding: 0 8px 0 9px;
                    margin-right: 18px;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-top: -14px;
                        border: 14px solid #04cf97;
                        border-right-width: 0;
                        border-bottom-width: 13px;
                        border-left: 9px solid transparent;
                        left: -9px;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-top: -14px;
                        border: 14px solid transparent;
                        border-right-width: 0;
                        border-bottom-width: 13px;
                        border-left: 9px solid #04cf97;
                        right: -9px;
                    }
                }
                &:before {
                    content: none;
                }
                &:first-child a {
                    content: none;
                    &:before {
                        border: none;
                    }
                }
                &:last-child {
                    &:after {
                        content: "";
                    }
                }
            }
        }
    }
}

.cl-category-block {
    @include background-image(linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%));
    border: 1px solid #ececec;
    border-bottom: 3px solid #ccc;
    padding: 0 18px 8px;
    border-radius: 15px;
    margin-bottom: 15px;
    height: 410px;
    .cl-category-block-img {
        margin: -6px 10px 0 -9px;
        display: block;
        img {
            margin: 10px 0 0 7px;
        }
    }
    .no-padding-left {
        padding-left: 0;
    }
    h2 {
        margin-top: 5px;
        line-height: 15px;
        a {
            color: #0a7ab2;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    ul {
        position: relative;
        padding: 0;
        margin: 10px 0;
        &:before {
            content: "";
            border-bottom: solid 2px #c4cacd;
            width: 100%;
            position: absolute;
            top: -7px;
            left: 0;
        }
        li {
            list-style: none;
            margin-bottom: 3px;
            border-bottom: 1px solid #ececec;
            a {
                @include mt(.5s);
                color: #333;
                font-weight: normal;
                font-size: 14px;
                text-decoration: none;
                &:focus,
                &:hover {
                    font-weight: normal;
                    color: #0a7ab2;
                }
                span {
                    color: #cfcfcf;
                }
            }
            &.active {
                a {
                    border: 1px solid #ff0;
                    color: #444;
                }
            }
        }
    }
}

.visited {
    opacity: 0.5;
}

.vt-rt {
    top: 1px;
    right: 1px;
    position: absolute;
    color: #FFF;
    background: rgba(0, 139, 198, 0.7);
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 6px;
    line-height: 16px;
    margin: 5px;
    z-index: 1;
}

.vt-bt {
    bottom: 0;
    position: absolute;
    color: #FFF;
    background: rgba(0, 139, 198, 0.7);
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 6px;
    line-height: 16px;
    margin: 5px;
    z-index: 1;
}

.vt-pic {
    top: -1px;
    right: 11px;
    position: absolute;
    color: #FFF;
    background: rgba(0, 139, 198, 0.7);
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 6px;
    line-height: 16px;
    margin: 5px;
    z-index: 1;
}

.cl-ad-block {
    .ad__image {
        position: relative;
        .ph {
            width: 100%;
            height: 100%;
        }
        span {
            position: absolute;
            padding: 5px 8px 7px;
            font-size: 11px;
            line-height: 1;
            color: #333;
            border-radius: 18px;
            background-color: #f5f5f5;
            border: 1px solid #388ed4;
            bottom: -9px;
            right: 21px;
        }
        img {
            border: 1px solid #cfcfcf;
        }
    }
    .ad__content {
        padding: 0;
        margin-top: 10px;
        h3 {
            margin-top: 0;
            font-size: 12px;
            font-weight: 600;
            color: #47474a;
            a {
                color: #388ed4;
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
            }
        }
        .ad__price {
            display: block;
            overflow: hidden;
            margin-bottom: 5px;
            height: 30px;
            .price {
                margin-right: 10px;
            }
            span {
                color: #4f4a4a;
                font-size: 21px;
                line-height: 24px;
                font-weight: 700;
                float: left;
                .euro {
                    margin-top: -5px;
                    font-size: 14px;
                }
            }
            .new {
                margin-top: 3px;
                .icon {
                    background: url("images/icons/new.png");
                    width: 21px;
                    height: 21px;
                    background-repeat: no-repeat;
                    background-size: 21px 21px;
                    background-position: 0 0;
                    margin-top: -1px;
                    margin-right: 5px;
                    float: left;
                }
            }
            .star-wrap {
                margin-top: 3px;
                &:hover {
                    .fa {
                        animation: spin 0.4s ease;
                    }
                }
                .star-i {
                    padding: 0 5px;
                    font-size: 11px;
                    color: #333;
                    border-radius: 5px;
                    background-color: #f5f5f5;
                    border-bottom: 2px solid #ccc;
                    margin-right: 5px;
                    float: left;
                }
                .fa {
                    margin-left: 3px;
                    margin-right: 3px;
                    font-size: 14px;
                    color: #388ed4;
                }
            }
        }
        .description {
            color: #58585b;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 10px;
            p {
                border-top: 1px solid #ccc;
                .room-n {
                    font-weight: normal;
                }
            }
            .dec_space {
                padding: 0 3px;
            }
            .fa-exclamation-triangle {
                color: #f00;
            }
            .tag {
                position: relative;
                display: inline-block;
                padding: 0.2em 0.5em;
                margin: 3px 4px 2px 0;
                color: #778792;
                background-color: #f0f1f2;
                border-color: #c2ddef;
                line-height: 1;
                white-space: nowrap;
                text-decoration: none;
                text-align: center;
                border-width: 1px;
                border-style: solid;
                border-radius: 0.9em;
            }
        }
        .location {
            float: left;
            color: #999;
            font-size: 13px;
            overflow: hidden;
            height: 17px;
        }
        .more-f {
            .company {
                float: right;
                text-align: right;
                margin-right: 20px;
                a {
                    img {
                        width: 70px;
                        margin: 0 auto;
                    }
                }
            }
            .created {
                float: right;
                text-align: right;
                height: 15px;
                margin-right: 20px;
                .time {
                    color: #999;
                    font-size: 13px;
                    font-weight: normal;
                    border-bottom: 2px solid #ccc;
                    &.today {
                        color: #fff;
                        border-radius: 5px;
                        background-color: #bbc2bd;
                        padding: 0 4px;
                    }
                    &.edited {
                        color: #fff;
                        border-radius: 5px;
                        background-color: #38d866;
                        padding: 0 4px;
                        margin-right: 5px;
                    }
                }
            }
            .favorite {
                float: right;
                width: 80px;
                margin-right: 10px;
                cursor: pointer;
                .fa {
                    font-size: 17px;
                    &.fa-heart-o {
                        color: #999;
                    }
                    &.fa-heart {
                        color: #04cf97;
                    }
                }
                .fav-h-t {
                    color: #999;
                    font-size: 15px;
                    margin-left: 3px;
                }
                &.active {
                    .fa-heart {
                        color: #4af077;
                    }
                    .fav-h-t {
                        color: #4af077;
                    }
                }
            }
        }
    }
    .ad__data {
        position: relative;
        text-align: right;
        .price {
            color: #444;
            font-size: 18px;
            font-weight: 600;
        }
    }
    .cl-ad__categories {
        @extend %padding-block;
        border-bottom: 1px solid #ccc;
        ul {
            padding: 0;
            &.child {
                li {
                    list-style: none;
                    margin-left: 5px;
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                    width: 254px;
                    a {
                        line-height: 1em;
                        padding: 0 11px 3px; //text-decoration: underline;
                        font-size: 14px;
                        color: #2382cf;
                        span {
                            &.count-badge {
                                color: #a8a1a1;
                            }
                        }
                        &:focus,
                        &:hover,
                        &:visited {
                            color: #388ed4;
                            text-decoration: underline;
                        }
                    }
                    &:before {
                        content: "\f105";
                        font-family: FontAwesome;
                        margin-left: 0;
                        width: 1.3em;
                        font-size: 0.8em;
                        color: #388ed4;
                    }
                }
            }
            &.child-parent {
                li {
                    list-style: none;
                    margin-left: 5px;
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                    width: 172px; // &:nth-child(1) {
                    //   a {
                    //     font-weight: 700;
                    //     font-size: 13px;
                    //   }
                    // }
                    a {
                        line-height: 1em;
                        padding: 0 11px 3px;
                        text-decoration: none;
                        font-size: 12px;
                        color: #333;
                        span {
                            &.count-badge {
                                color: #cfcfcf;
                            }
                        }
                        &:focus,
                        &:hover {
                            color: #388ed4;
                        }
                    }
                    &:before {
                        content: "\f0c8";
                        font-family: FontAwesome;
                        margin-left: 0;
                        width: 1.3em;
                        font-size: 0.8em;
                        color: #388ed4;
                    }
                }
            }
        }
    }
    .cl-filter__meniu {
        padding: 15px 3px 0;
        background: #8196d4;
        border: 1px solid #ebebeb;
        border-top: none;
        >.price-filter {
            .form-control::-webkit-input-placeholder {
                color: $input-placeholder-color;
            }
            .form-control:-moz-placeholder {
                color: $input-placeholder-color;
            }
            .form-control::-moz-placeholder {
                color: $input-placeholder-color;
            }
            .form-control:-ms-input-placeholder {
                color: $input-placeholder-color;
            }
            input[type="number"]:hover::-webkit-input-placeholder {
                color: #fff;
            }
            input[type="number"]:hover:-moz-placeholder {
                color: #fff;
            }
            input[type="number"]:hover::-moz-placeholder {
                color: #fff;
            }
            input[type="number"]:hover:-ms-input-placeholder {
                color: #fff;
            }
            .form-control {
                //display: inline-block;
                background-color: $input-bg;
                border: 1px solid #ccc;
                border-bottom: 3px solid #ccc;
                border-radius: 5px;
                font-size: 1em;
                color: $input-text-color;
                max-height: 36px;
                cursor: pointer;
                &:focus {
                    border-color: #337ab7;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                }
            }
            select {
                &:active,
                &:hover,
                &:visited {
                    background: #04cf97 !important;
                    color: #ffffff !important;
                }
            }
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
            }
            select::-ms-expand {
                display: none;
            }
            select+i.fa {
                float: right;
                margin-top: -26px;
                margin-right: 10px;
                pointer-events: none;
                background-color: transparent;
                color: #0a7ab2!important;
                padding-right: 5px;
                transition: all 0.3s ease;
            }
            select option {
                padding-right: 21px;
            }
            input[type="number"] {
                &:active,
                &:hover,
                &:visited {
                    background: #04cf91 !important;
                }
            }
            option:not(:checked) {
                background-color: $input-bg !important;
                color: $input-text-color !important;
            }
            .btn {
                background-color: #0a7ab2;
                border: 1px solid #ccc;
                border-radius: 5px;
                max-height: 36px;
                color: #f5ebeb;
                font-size: 1em;
                margin-left: -21px;
                .fa {
                    margin-right: 3px;
                }
                .caret {
                    margin-left: 10px;
                }
                b {
                    font-weight: 400;
                    color: #388ed4;
                }
                &:hover,
                &:visited {
                    background-color: #054b6e;
                }
            } // input[type=checkbox] {
            //     position: absolute;
            //     overflow: hidden;
            //     clip: rect(0 0 0 0);
            //     height: 1px;
            //     width: 1px;
            //     margin: -1px;
            //     padding: 0;
            //     border: 0;
            // }
            .has-photo-lb {
                cursor: pointer;
                -webkit-flex: 0 0 67px;
                -ms-flex: 0 0 67px;
                flex: 0 0 67px;
                background-color: #FAFAFA;
                border: 1px solid #C1C1C1;
                display: inline-block;
                margin-left: 10px;
                margin-right: 30px;
                padding: 0 10px;
                height: 31px;
                line-height: 29px;
                color: #888;
            }
        }
    }
    .cl-ad__options {
        padding: 2px 18px;
        background: #f8f8f8;
        border: 1px solid #ebebeb;
        border-top: none;
        .ad__count {
            margin: 0 2px -2px;
            color: #333;
            font-size: 13px;
            font-weight: 600;
            h1 {
                font-size: 15px;
                font-weight: 600;
                color: #388ed4;
                text-transform: uppercase;
                span {
                    color: #cfcfcf;
                    font-size: 14px;
                    font-weight: 600;
                    &.count-badge {
                        background-color: #b7acac;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 0.875em;
                        font-weight: 600;
                        line-height: 15px;
                        padding: .1em .6em;
                    }
                }
            }
            span {
                color: #388ed4;
            }
        }
        .ad__type {
            margin-top: 10px;
            margin-bottom: 10px;
            ul {
                &.dropdown-menu {
                    min-width: 0;
                    width: 134px;
                }
            }
            span {
                &.count-badge {
                    background-color: #b7acac;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 0.875em;
                    font-weight: 600;
                    line-height: 15px;
                    padding: .2em .6em;
                }
            }
            .btn {
                background-color: #f8f8f8;
                border: 1px solid #ccc;
                border-bottom: 3px solid #ccc;
                border-radius: 5px;
                font-size: 13px;
                .caret {
                    margin-left: 10px;
                }
                b {
                    font-weight: 400;
                    color: #388ed4;
                }
            }
        }
        .ad__action {
            margin-top: 10px;
            margin-bottom: 10px;
            ul {
                &.dropdown-menu {
                    min-width: 0;
                    width: 104px;
                }
            }
            .btn {
                background-color: #f8f8f8;
                border: 1px solid #ccc;
                border-bottom: 3px solid #ccc;
                border-radius: 5px;
                font-size: 13px;
                .caret {
                    margin-left: 10px;
                }
                b {
                    font-weight: 400;
                    color: #388ed4;
                }
            }
        }
        .ad__sort {
            margin-top: 10px;
            margin-bottom: 10px;
            ul {
                &.dropdown-menu {
                    min-width: 0;
                    width: 140px;
                }
            }
            .btn {
                background-color: #f8f8f8;
                border: 1px solid #ccc;
                border-bottom: 3px solid #ccc;
                border-radius: 5px;
                width: 140px;
                font-size: 13px;
                .caret {
                    margin-left: 10px;
                }
                b {
                    font-weight: 400;
                    color: #388ed4;
                }
            }
        }
        .ad__plus {
            margin-top: 10px;
            margin-bottom: 10px;
            .btn {
                background-color: #f8f8f8;
                border: 1px solid #ccc;
                border-bottom: 3px solid #ccc;
                border-radius: 5px;
                padding: 4.5px 10px;
                .fa {
                    color: #388ed4;
                }
                &.active {
                    background-color: #04cf97;
                    .fa {
                        color: #fff;
                    }
                }
            }
        }
        .ad__change {
            margin-top: 55.5px;
            span {
                color: #388ed4;
                font-weight: 700;
            }
            .btn {
                background-color: #f8f8f8;
                border: 1px solid #d5d3d3;
                border-radius: 5px;
                width: 140px;
                .caret {
                    margin-left: 10px;
                }
                b {
                    font-weight: 400;
                    color: #388ed4;
                }
            }
        }
        ul {
            padding: 0;
            &.dropdown-menu {
                background-color: #f8f8f8;
                border: 1px solid #d5d3d3;
                border-radius: 5px;
                margin-top: 5px;
                li {
                    list-style: none;
                    margin-top: 3px;
                    display: block;
                    text-align: left;
                    border-bottom: 1px solid #d5d3d3;
                    &:nth-child(3) {
                        border-right: none;
                    }
                    a {
                        text-decoration: none;
                        color: #333;
                        font-size: 13px;
                        &:active,
                        &:hover {
                            border-radius: 5px;
                            text-decoration: none;
                            color: #388ed4;
                        }
                    }
                    .fa {
                        margin-left: 3px;
                        margin-right: 3px;
                        font-size: em(15px);
                        color: #575454;
                    }
                }
            }
        }
    }
    .cl-ad__item {
        background-color: #f8f8f8;
        border-bottom: 1px solid #ccc;
        padding: 11px 18px;
        &:nth-child(even) {
            color: #fff;
            background-color: #eceaea;
        }
        &:hover {
            background-color: #d3f0e1;
        }
    }
    .empty__ads {
        padding: 1px 18px;
        margin-top: 10px;
    }
}

.active-filters {
    margin-bottom: 10px;
    >div {
        display: table-cell;
        a {
            text-decoration: none;
        }
        .fa {
            &:hover {
                color: $accent-two;
            }
        }
    }
    .filters {
        .filter-item {
            display: inline-block;
            line-height: 22px;
            height: 25px;
            white-space: nowrap;
            background: #FFF;
            border: 1px solid #e3e1e1;
            margin: 5px 5px 5px 0;
            padding: 0 5px;
            color: #008bc6;
            border-radius: 2px;
        }
    }
    .clear {
        padding: 10px;
        margin-left: -10px;
        color: #008BC6;
        font-size: 20px;
        cursor: pointer;
    }
}

.cl-vip-block {
    .ads {
        @include background-image(linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%));
        border: 1px solid #ececec;
        border-bottom: 3px solid #ccc;
        padding: 10px 18px 8px;
        border-radius: 15px;
        margin-bottom: 15px;
        height: auto;
        h1 {
            color: #0a7ab2;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            font-family: "Open Sans", sans-serif;
            text-align: left;
            display: inline;
        }
        .slr {
            position: relative;
            .slr-thumb-wrap {
                margin-top: 10px;
                .slr-thumb-image {
                    position: relative;
                    overflow: hidden;
                    margin: 5px 0;
                    border: 1px solid #dadadc;
                    img {
                        @include mt(0.2s);
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    &-text {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        padding: 10px;
                        margin: 0 !important;
                        color: #ffffff;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 1.5em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-height: 6.9em;
                        text-transform: uppercase;
                        text-align: center;
                        background-color: #d8d8d8;
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.4) 100%);
                    }
                }
            }
            &:before {
                content: "";
                border-bottom: solid 2px #c4cacd;
                width: 100%;
                position: absolute;
                top: 3px;
                left: 0;
            }
        }
    }
}

.s-footer {
    padding: 60px 0;
    h2 {
        font-size: em(20px);
        line-height: em(19px);
        color: #444;
        font-family: "LucidaSansUnicodeRegular", sans-serif;
        text-align: center;
        margin-bottom: 0;
    }
    p {
        text-align: center;
        font-size: em(16px);
    }
}

.multiselect-selected-text {
    text-align: left;
}

form {
    padding: 0;
}

.form-group>.form-group {
    padding-left: 0;
    padding-right: 0;
}

.form-group>.form-group:nth-child(n+1) {
    padding-left: 5px;
    padding-right: 0;
}

.form-group>.form-group:first-child {
    padding-left: 0;
}

.form-group>div[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}

.form-group>div[class*='col-']:nth-child(n+1) {
    padding-left: 5px;
    padding-right: 0;
}

.form-group>div[class*='col-']:first-child {
    padding-left: 15px;
}

.form-group>div[class*='col-']:last-child {
    padding-right: 15px;
}

@media only screen and (max-width: 768px) and (min-width: 120px) {
    .form-group>div[class*='col-']:nth-child(n+1) {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }
    .form-group>div[class*='col-']:first-child {
        padding-right: 15px;
    }
    .form-group>div[class*='col-']:last-child {
        padding-left: 15px;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
    .form-group>div[class*='col-']:nth-child(n+1) {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }
    .form-group>div[class*='col-']:first-child {
        padding-right: 15px;
    }
    .form-group>div[class*='col-']:last-child {
        padding-left: 15px;
        padding-bottom: 0;
    }
}