.navbar-default {
  @include background-image(linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 9%, rgba(237, 237, 237, 1) 100%));
  border-bottom: 3px solid #388ed4;

  .navbar-toggle {
    border-color: transparent;

    &:hover,
    &:focus {
      background-color: transparent;
    }
    .icon-bar {
      background-color: #388ed4;
    }
  }
  .navbar-nav {
    li {
      list-style: none;
      a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;

        &:hover,
        &:focus,
        &:active {
          color: #fff;
        }
      }
      .btn-primary {
        @include border-top-radius(10px);
        @include linear-gradient($btn, lighten($btn-bottom, 30%));
        margin-top: 1em;
        margin-left: .4em;
        line-height: 10px;
        border-top: 2px solid $btn-bottom;
        color: #fff;

        &:hover,
        &:focus,
        &:active {
          @include linear-gradient($btn, lighten(black, 30%));
        }
        .fa {
          text-align: left;
          margin-right: 2px;
        }
        .fa-info-circle {
          text-align: center;
        }
      }
    }
  }
}

.responsive-logo {
  margin-top: 6px;
}

.nav-mnu {
  margin-top: -1.51em;
  background-color: #388ed4;
  line-height: 4.5em;

  ul {
    padding: 0;
		margin: 10px 0 0;
    li {
      list-style: none;
			border-bottom: 1px solid #35afeb;

      &:hover,
      &:focus {
        background-color: #054b6e;
      }

      a {
        margin-left: 4em;
				color: #fff;
				font-size: 14px;
				font-weight: normal;
				text-decoration: none;
      }

      span {
        &.remember-ads {
          background-color: #4c5b5c;
          border-radius: 5px;
          color: #fff;
          font-size: em(15px);
          font-weight: 600;
          line-height: 1;
          padding: .4em .6em;
          vertical-align: middle;
          margin-top: 1.5em;
          margin-right: 3em;
        }
      }
    }
  }
}

.xs-text-center {
  text-align: center;
}

.top-menu-line {
  @include background-image(linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%));
  background-color: rgba(255, 255, 255, 1);
  height: 70px;
  border-bottom: 1px solid #eadbdb;
  margin-bottom: 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    &.menu-links {
      display: block;
      margin: 5px 0 0;

      li {
        @include border-bottom-radius(10px);
        @include background-image(linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%));
        display: inline;
        margin: 0 2px -2px;
        padding: 6px 10px 9px;
        color: #fff;
        border-bottom: 3px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;

        &:nth-child(2) {
          span {
            &.ads {
              position: absolute;
              background-color: #0a7ab2;
              border-radius: 5px;
              color: #fff;
              font-size: em(14px);
              font-weight: 600;
              line-height: 15px;
              padding: .2em .6em;
              margin: 19px -7px -2px;
            }
          }
        }

        &:hover {
          border-bottom: 3px solid #337ab7;
          border-left: 1px solid #337ab7;
          border-right: 1px solid #337ab7;
        }

        &:hover > a {
          color: #337ab7;
        }
      }

      a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
        font-weight: normal;

        &:hover {
          color: #337ab7;
        }
      }
    }
  }

  .cl-search {
    position: relative;

    input[type="text"] {
      @include border-top-radius(0);
      @include border-bottom-radius(10px);
      @include background-image(linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%));
      margin: 0 2px -2px;
      padding: 6px 10px 9px;
      height: 36px;
      font-size: em(15px);
      color: #444;
      border-bottom: 3px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      padding-right: 41px;
    }

    .form-control {
      border-top: 0;

      &:focus {
        border-color: #337ab7;
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }

    input[type="submit"] {
        position: absolute;
        top: -2px;
        right: 0;
        display: block;
        width: 41px;
        height: 100%;
        background: url("images/icons/search.png") no-repeat center center;
        border: 0;
    }
  }
}

.login-title {
  margin-top: 11px;
  margin-bottom: 16px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: em(19px);
  font-weight: 600;
  text-transform: uppercase;
  color: $accent;
}

.login {
    @include background-image(linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%));
    border: 1px solid #ececec;
    border-bottom: 3px solid #ccc;
    margin-top: 8px;
    margin-bottom: 15px;

    > .login-head {
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      background-color: $accent;
      border-bottom: 1px solid transparent;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      font-size: em(19px);
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
    }

    > .register-head {
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      background-color: $accent-two;
      border-bottom: 1px solid transparent;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      font-size: em(19px);
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
    }

    &-body {
      padding: 0 18px 8px;
      margin-top: 35px;
      margin-bottom: 35px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      margin: 0 2px -2px;
      padding: 6px 10px 9px;
      height: 41px;
      background-color: transparent;
      font-size: em(15px);
      color: #444;
      padding-right: 41px;
    }

    .form-horizontal {

        .login-btn {
          display: block;
          border-radius: 4px;
          text-transform: uppercase;
          background-color: $accent;
          color: #fff!important;
          font-size: em(17px);
          font-weight: normal;
          text-decoration: none;
          letter-spacing: 0;
          transition: all 200ms ease-in-out;
          padding: 10px 37px;
          margin-bottom: 10px;

          &:hover {
            background-color: #0378aa;
          }
        }

        .register-btn {
          display: block;
          border-radius: 4px;
          text-transform: uppercase;
          background-color: $accent-two;
          color: #fff!important;
          font-size: em(17px);
          font-weight: normal;
          text-decoration: none;
          letter-spacing: 0;
          transition: all 200ms ease-in-out;
          padding: 10px 37px;
          margin-bottom: 10px;

          &:hover {
            background-color: #02b785;
          }
      }

      .control-label {
        font-weight: normal!important;
        color: #444!important;
      }
    }

    .help-block {
      margin: 6px 4px;
      font-size: em(16px);
      font-weight: 400;
    }

    .form-control,
    .form-group {

      &:focus {
        border-color: #337ab7;
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
}

.register {
    background-color: #fff;
    border: 1px solid #ececec;
    border-bottom: 3px solid #ccc;
    margin-top: 8px;
    margin-bottom: 15px;

    > .register-head {
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      background-color: #f4f4f4;
      border-bottom: 1px solid transparent;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      font-size: em(19px);
      font-weight: 600;
      text-transform: uppercase;
      color: #58585b;
    }

    .user_active {
      display: inherit;
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      background-color: #f4f4f4;
      border-bottom: 1px solid transparent;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      font-size: em(19px);
      font-weight: 600;
      text-transform: uppercase;
      color: #58585b;
    }

    &-body {
      padding: 30px 30px 15px;
      margin-bottom: 35px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      margin: 0 2px -2px;
      padding: 6px 10px 9px;
      height: 41px;
      background-color: #f4f4f4;
      font-size: em(15px);
      color: #444;
      padding-right: 41px;
    }

    .form-horizontal {

        .register-btn {
          display: block;
          border-radius: 4px;
          background-color: $accent-two;
          color: #fff!important;
          font-size: em(17px);
          font-weight: normal;
          text-decoration: none;
          letter-spacing: 0;
          transition: all 200ms ease-in-out;
          padding: 10px 20px;
          margin-bottom: 10px;

          &:hover {
            background-color: #02b785;
          }
      }

      .control-label {
        margin-bottom: 5px;
        font-size: em(15px);
        font-weight: 700!important;
        color: #58585b!important;
      }
    }

    .help-block {
      margin: 6px 4px;
      font-size: em(16px);
      font-weight: 400;
    }

    .form-control,
    .form-group {
        border-color: #e5e5e5;

      &:focus {
        border-color: #58585b;
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
}

.checkbox label {
  color: #444!important;
}

input[type="checkbox"] {
    content: '';
    position: absolute;
    border-radius: 5px;
    background: url(../images/checkbox-unchecked.png) no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    -webkit-appearance: none;
    outline: none !important;
    margin: 0;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked:after {
    content: '';
    position: absolute;
    border-radius: 5px;
    background: url(../images/checkbox-checked.png) no-repeat;
    width: 22px;
    height: 22px;
    left: 0;
    top: 0;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: transparent;
    display: inline-block;
    -webkit-appearance: none;
    outline: none !important;
    margin: 0;
    position: relative;
    cursor: pointer;
}

input[type="radio"]:checked:after {
    content: '';
    position: absolute;
    border: 2px solid #ccc;
    background-color: $accent-two;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    top: -1px;
    left: -2px;
}
