/* TopLine meniu add button */

.cl-add-button {
  @include border-bottom-radius(10px);
  @include background-image(linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%));
  display: inline-block;
  margin: 0 0 -2px;
  padding: 6px 10px 9px;
  height: 36px;
  color: #333;
  border-bottom: 3px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  &:hover {
    border-bottom: 3px solid #337ab7;
    border-left: 1px solid #337ab7;
    border-right: 1px solid #337ab7;
  }

  &:hover > a {
    color: #337ab7;
  }

  a {
    font-size: em(15px);
    font-weight: 600;
    color: #333;
    text-decoration: none;
  }

  .fa {
    margin-right: 10px;
    color: #0a7ab2;
  }
}
