/* Atimation burger meniu icon */

.navbar-toggle {
  .icon-bar {
    width: 15px;
    height: 2px;
    color: #388ed4;

    &:nth-of-type(2) {
      top: 1px;
    }
    &:nth-of-type(3) {
      top: 2px;
    }
    position: relative;
    transition: transform .1s ease-in-out;
  }

  &.active {
    .icon-bar {
      &:nth-of-type(1) {
        top: 6px;
        transform: rotate(45deg);
        background-color: #388ed4;
      }
      &:nth-of-type(2) {
        background-color: transparent;
      }
      &:nth-of-type(3) {
        background-color: #388ed4;
        top: -6px;
        transform: rotate(-45deg);
      }
    }
  }

  .btn-icon-holder {
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 9px;
    color: #676563;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-left: -3px;
  }
}

/* Bunny bounce action */

.bunny {
  animation: hop 2s ease-in-out infinite,
             move 6s ease-out forwards;

  @at-root {
    @keyframes hop {
      50%  { transform: translateY(40px); }
    }
    @keyframes move {
      100% { left: 400px; }
    }
  }
}

/* vue transitions */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

/* Spin */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* pulse */

@keyframes pulse {
  0%,
  100% {
    background-color: #ff0;
  }
  50% {
    background-color: #f00;
  }
}

/* nudge */

@keyframes nudge {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
  }

  80% {
    transform: translate(-150px, 0);
  }
}
