@import "bourbon";

@font-face {
    font-family: OpenSansRegular;
    src: url('./fonts/OpenSansRegular/OpenSansRegular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/OpenSansRegular/OpenSansRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
}