/*==========  Desktop First Method  ==========*/

/* Custom Media Queries */
@media only screen and (max-height: 899px) {
	//
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
	//
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	//
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	//
}
/* Plansete */
@media only screen and (max-width: 768px) {
	.navbar-default {
		border-bottom: 1px solid $navbar-border-bottom-color;
	}
}

/* Telefonas Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	//
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
	//
}
