@mixin mt($time) {
  transition: all $time ease;
}

@mixin lightsaber($color) {
  background: mix($color, #fff, 10%);
  box-shadow: $color 0 0 0 2px;
  &:hover {
    box-shadow: $color 0 0 20px 2px;
    text-shadow: $color 0 0 6px, $color 0 0 10px;
  }
}

@mixin sprite($sprite-class, $x: 0, $y: 0) {
  @extend %#{$sprite-class};
  background-position: $x $y;
}
