$btn: #388ed4;
$btn-bottom: #054b6e;
$accent: #008BC6;
$accent-two: #04cf97;
$blue: #0b4625;
$navbar-border-bottom-color: #35aeeb;
$input-bg: #fefefe;
$input-text-color: #747272;
$input-placeholder-color: #747272;
